.popup__container {
  background-color: #fff;
  width: 430px;
  min-height: 330px;
  border-radius: 10px;
  align-self: center;
  margin: 0 auto;
  transition: width .3s, height .3s;
  display: inherrit;
}

@media screen and (max-width: 540px) {
  .popup__container {
    width: 282px;
    min-height: 322px;
  }
}