.profile__add-button {
  border: 2px solid #fff;
  width: 150px;
  height: 50px;
  border-radius: 2px;
  align-self: center;
  margin: 0 0 0 auto;
  padding: 0;
  background-image: url(../../../images/plus.svg);
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: center;
}

.profile__add-button:hover {
  border: 2px solid #ffffff99;
  background-image: url(../../../images/plus-grey.svg);
}

@media screen and (max-width: 880px) {
  .profile__add-button {
    width: 282px;
    margin: 36px 0 0 0;
    background-size: 16px 16px;
  }
}

@media screen and (max-width: 320px) {
  .profile__add-button {
    width: 100%;
  }
}