@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Regular.ttf) format('ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Medium.ttf) format('ttf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Black.ttf) format('ttf');
  font-style: normal;
  font-weight: 900;
}