.popup__close {
  width: 32px;
  height: 32px;
  background-image: url(../../../images/close-icon.svg);
  background-size: contain;
  border: none;
  position: absolute;
  top: calc(50% - 207px);
  left: calc(50% + 223px);
  cursor: pointer;
  transition: opacity .3s;
}

.popup__close:hover {
  opacity: .6;
}

@media screen and (max-width: 520px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: calc(50% - 197px);
    left: calc(50% + 121px);
  }
}