.header {
  min-height: 74px;
  max-width: 880px;
  margin: 0 auto;
  padding-top: 45px;
  border-bottom: 1px solid #545454B2;
}

@media screen and (max-width: 880px) {
  .header {
    max-width: 100%;
    min-height: 56px;
    padding-top: 28px;
  }
}